node_modules/
yarn.lock
*.svg
*.ttf
*.woff2
*.woff
*.eot
*.png
*.ico
*.txt
*.tsx.snap
.gitlab-ci.yml
.gitignore
.dockerignore
.editorconfig
.DS_Store
.prettierignore
yarn-error.log
.idea/
.prettierrc
.husky/
build/
internals/

